{% extends 'base.html' %}

{% block content %}

<h2>Servicios</h2>

<form method="POST">

    <label>Nombre del servicio</label>
    <input type="text" name="nombre" required>

    <label>Precio</label>
    <input type="number" name="precio" required>

    <button type="submit">Agregar Servicio</button>

</form>

<br><br>

<table border="1">

<thead>
<tr>
<th>ID</th>
<th>Servicio</th>
<th>Precio</th>
</tr>
</thead>

<tbody>

{% for servicio in servicios %}

<tr>
<td>{{ servicio[0] }}</td>
<td>{{ servicio[1] }}</td>
<td>{{ servicio[2] }}</td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}